<app-navbar></app-navbar>
<div class="d-flex p-2 col-example d-flex justify-content-center">
    <div style="margin:1%;">
        <div class="col-lg-16">
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb mx-auto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvi4rZ-MTImnutkFUDVCpg-WtOUoxnIxKqxg&usqp=CAU" class="rounded-circle img-thumbnail"></div>
                    <div class="">
                        <h4>Gal Swisa</h4>
                        <small>ID: 204396170</small><br/>
                        <small>Phone:0548087960</small><br/>
                        <small>College: Ort Braude</small><br/>
                        <small>Address: Kiryat-Atta</small><br/>
                        <p class="text-success">Software Engineering<br><span><a href="#" class="text-pink">Galswisa@walla.co.il</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:1%;">
        <div class="col-lg-16">
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb mx-auto"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRwHucwrMNHpqX-BJROPP0Irl2XQLiHKJ-og&usqp=CAU" class="rounded-circle img-thumbnail"></div>
                    <div class="">
                        <h4>Elior Libilya</h4>
                        <small>ID: 313442865</small><br/>
                        <small>Phone:0507496095</small><br/>
                        <small>College: Ort Braude</small><br/>
                        <small>Address: Maalot</small><br/>
                        <p class="text-success">Software Engineering<br><span><a href="#" class="text-pink">Elior750@gmial.com</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
