<div class="myContainer">
    <div class="d-flex flex-column flex-row bg-dark border border-dark">
        <div class="d-flex p-2 bd-highlight justify-content-center text-light" (click)="showAddons()">Addons</div>
        <div class="d-flex p-2 bd-highlight justify-content-center text-light" (click)="showOils()">Oils</div>
        <div class="d-flex p-2 bd-highlight justify-content-center text-light" (click)="showTires()">Tires</div>
        <div class="d-flex p-2 bd-highlight justify-content-center text-light" (click)="showBatterys()">Batterys</div>
    </div>
</div>