@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
body {
    background: hsl(64, 66%, 78%);
    background: -webkit-linear-gradient(to right, #F9CC6D, #F9CC6D);
    background: linear-gradient(to right, #F9CC6D, #F9CC6D);
    min-height: 100vh;
  }